@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Space Grotesk", sans-serif;
}

.front-card {
    background: url("./images/bg-card-front.png") ;
    height: 200px;
    width: 320px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.back-card {
    background: url("./images/bg-card-back.png") ;
    height: 200px;
    width: 320px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.back-card p {
    top: 5.25rem;
}

@media (min-width: 1024px) {
    .front-card, 
    .back-card {
        height: 300px;
        width: 500px;
        border-radius: 20px;
    }

    .back-card p {
        top: 8.3rem;
    }
}